<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/iconHeizung.jpg" type="image/jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heizungssteuerung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img class="headerImg" src="../static/iconHeizung.jpg" alt="Logo">
        <button class="hadderHomeButton" onclick="homeButoon()">Home</button>
    </div>
    <div class ="status">!! ESP 8266 is not conected !!</div>
    <div class ="steuerung">
         <button class="button" onclick="steuerung()">Steuerung</button>
    </div>
    <div class="main">
        <div> <!-- Hier will ich weiter temperaturen (Esp eifügen wie temperaturESP1)-->
            <div class ="temperaturESP1">22,5 °C</div>
        </div>
        
    
    <script src="../static/script.js"></script>
</body>
</html>