<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/iconHeizung.jpg" type="image/jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heizungs-Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Import fü+r Grafik -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>
<body>
    <div class="header">
        <img class="headerImg" src="../static/iconHeizung.jpg" alt="Logo">
        <button class="hadderHomeButton" onclick="homeButoon()">
            <p style="width: 100%; margin: 0;align-items: center;      /* Vertikal zentrieren */
    justify-content: center;  /* Horizontal zentrieren */">Home</p></button>
    </div>
    <!-- Status von dem ESP8266-->
    <div class ="status">
      <div class ="statusText">
        <p style="width: 100%; margin: 0;">!! ESP 8266 not conected !!</p>
      </div>
    </div>

    <!--Steuerungsfeld mit dem Button-->
    <div class ="steuerung">
        <button class="button" onclick="steuerung()">
            <p style="width: 100%; margin: 0;align-items: center;      /* Vertikal zentrieren */
    justify-content: center;  /* Horizontal zentrieren */">Steuerung</p>
        </button>
    </div>

    <!-- Hier wird die Aktuelle Temperatur angezeigt -->
    <div class="aktuelleTemperatur">
        <div> <!-- Hier will ich weiter temperaturen (Esp eifügen wie temperaturESP1)-->
            <div class ="temperaturESP1" id = "aktuelleTemperatur">Aktuell:<br>--.--°C<br>--:--:-- Uhr</div>
            
           

        </div>
    </div>
    
    <!-- Hier wird die Temperatur Grafik angezeigt -->
    <div class="mainGrafik">
            <div class="chart-container">
                <canvas id="temperatureChart"></canvas>
            </div>
    </div>
        
    
    <script src="../static/mqtt-handler.js"></script>
    <script src="../static/script.js"></script>    
</body>
</html>