<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/iconHeizung.jpg" type="image/jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heizungssteuerung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img class="headerImg" src="../static//iconHeizung.jpg" alt="Logo">
        <button class="hadderHomeButton" onclick="homeButoon()">Home</button>
        <div class="hadderLettering">Temperatur</div>
    </div>
    <div class="main">
        <h1>Grafik des Tempeaturverlaufes mit minimal und maximal wert</h1>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>